<a href="/">
    <h1>Logo</h1>
</a>
<form method="GET" action="{% url 'home' %}">
    <input type="text" name="q" placeholder="Search Rooms..." />
</form>

{% if request.user.is_authenticated %}

<p>Hello {{request.user|title}}</p> <!-- the title capitalizes the text-->
<a href="{% url 'logout' %}">Logout</a>

{% else %}

<a href="{% url 'login' %}">Login</a>
<!-- this block of code checks if a user is authenticated. If user_authenticated is true,
The logout button would be at the top. If False, login button will be at the top-->

{% endif %}
<hr>